@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Hello Guys from the UB!</h1>
    <p>The time on the server is @DateTime.Now</p>
</div>

<div class="text-center">
	<h2>Click <a href="http://azcwr.org/">link to unsecure web</a></h2>
</div>